header {
  position: relative;
  padding: 16px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // grid-gap: 92px;
  // grid-gap: clamp(20px, 6.389vw, 92px);
  grid-gap: 20px;

  @media screen and (max-width: 576px) {

  }

  &__controls {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }

  // &__nav {

  // }

  &__lang {
    padding-right: 16px;
    border-right: 1px solid #D9D9D9;
  }

  &__search-icon {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      pointer-events: none;
    }
  }
}


