header {
  position: relative;
  padding: 16px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 92px;

  &__controls {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }

  &__lang {
    padding-right: 16px;
    border-right: 1px solid #D9D9D9;
  }

  &__search {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    grid-gap: 12px;
    background-color: transparent;
    transition: 0.3s ease;
    overflow: hidden;

    &.active {
      position: absolute;
      right: 0;
      width: 200px;
      background-color: #fff;
      z-index: 10;
    }
  }

  &__search-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__search-input {
    font-family: var(--font-family-inter);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.32px;
    color: var(--color-black);

    &::placeholder {
      font-family: var(--font-family-inter);
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.32px;
      color: var(--color-grey);
    }
  }
}


