<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__top">
        <div class="footer__left">
          <a class="footer__logo logo" href="/">
            <svg width='113' height='24'>
              <use href='img/sprite/sprite.svg#logo'></use>
            </svg>
          </a>

          <p class="footer__text">Artificial intelligence and machine learning algorithms.</p>

          <ul class="footer__socials socials">
            <li class="socials__item">
              <a class="social__link" href="#">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#appstore-logo'></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="social__link" href="#">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#playmarket-logo'></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="social__link" href="#">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#facebook-logo'></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="social__link" href="#">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#twitter-logo'></use>
                </svg>
              </a>
            </li>
          </ul>

          <ul class="footer__alert">
            <li>
              <svg width='32' height='24'>
                <use href='img/sprite/sprite.svg#18'></use>
              </svg>
            </li>
            <li>
              <picture>
                <source type='image/webp' srcset='img/gambling.webp'>
                <img width='62' height='24' src='img/gambling.png' alt='gambling therapy'>
              </picture>
            </li>
            <li>
              <p>Play <br> responsibly</p>
            </li>
          </ul>
        </div>

        <div class="footer__right">
          <div class="footer__nav">
            <div class="footer__nav-title">Betting Odds</div>

            <ul class="footer__nav-items">
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Football Betting Odds</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link disable" href="#">Tennis Betting Odds</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Football Betting Odds</a>
              </li>
            </ul>
          </div>

          <div class="footer__nav">
            <div class="footer__nav-title">Betting Tips</div>

            <ul class="footer__nav-items">
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Football betting Tips</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Premier League Tips</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Champions League Tips</a>
              </li>
            </ul>
          </div>

          <div class="footer__nav">
            <div class="footer__nav-title">Betting Bonus</div>

            <ul class="footer__nav-items">
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Bet365 Bonus</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">1xbet Bonus</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Vbet Bonus</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Betibed Bonus</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Shangri - la Bonus</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">22 Bet Bonus</a>
              </li>
            </ul>
          </div>

          <div class="footer__nav">
            <div class="footer__nav-title">Sportytrader</div>

            <ul class="footer__nav-items">
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#france'></use>
                  </svg>
                  French
                </a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#italy'></use>
                  </svg>
                  Italian
                </a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#portugal'></use>
                  </svg>
                  Portuguese
                </a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#spain'></use>
                  </svg>
                  Spanish
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <p>Bet with your head,not over it! Gambling Problem? Call 1-800-Gambler</p>
      </div>
    </div>
  </div>
</footer>

