<!-- <header>
  <div class="container">
    <div class="header">
      <a class="header__logo logo" href="/">
        <svg width='113' height='24'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <ul class="header__nav nav">
        <li class="nav__item">
          <div class="nav__link">
            <span>Exchanges</span>

            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </div>

          <ul class="nav__drowdown">
            <li class="nav__drowdown-item">
              <div class="nav__drowdown-link">
                <span>Best Betting Offers</span>

                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#arrow-down'></use>
                </svg>
              </div>

              <ul class="nav__drowdown-second">
                <li class="nav__drowdown-item">
                  <a class="nav__drowdown-link" href="#">Avellaneda</a>
                </li>
                <li class="nav__drowdown-item">
                  <a class="nav__drowdown-link" href="#">Hagen</a>
                </li>
                <li class="nav__drowdown-item">
                  <a class="nav__drowdown-link" href="#">Greensboro (NC)</a>
                </li>
                <li class="nav__drowdown-item">
                  <a class="nav__drowdown-link" href="#">La Plata</a>
                </li>
                <li class="nav__drowdown-item">
                  <a class="nav__drowdown-link" href="#">Krasnodar</a>
                </li>
                <li class="nav__drowdown-item">
                  <a class="nav__drowdown-link" href="#">Aurora (IL)</a>
                </li>
                <li class="nav__drowdown-item">
                  <a class="nav__drowdown-link" href="#">Morón</a>
                </li>
                <li class="nav__drowdown-item">
                  <a class="nav__drowdown-link" href="#">Kiel</a>
                </li>
              </ul>
            </li>
            <li class="nav__drowdown-item">
              <a class="nav__drowdown-link" href="#">
                <span>Nigerian Betting Promo Codes</span>
              </a>
            </li>
            <li class="nav__drowdown-item">
              <div class="nav__drowdown-link">
                <span>Nigerian Bookmakers Offers</span>

                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#arrow-down'></use>
                </svg>
              </div>
            </li>
            <li class="nav__drowdown-item">
              <div class="nav__drowdown-link">
                <span>Betting Promotions</span>

                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#arrow-down'></use>
                </svg>
              </div>
            </li>
            <li class="nav__drowdown-item">
              <div class="nav__drowdown-link">
                <span>ZA Bookmakers Offers</span>

                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#arrow-down'></use>
                </svg>
              </div>
            </li>
            <li class="nav__drowdown-item">
              <div class="nav__drowdown-link" >
                <span>ZA Betting Promo Codes</span>

                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#arrow-down'></use>
                </svg>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <div class="nav__link">
            <span>Stores</span>

            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </div>
        </li>
        <li class="nav__item">
          <div class="nav__link">
            <span>Apps</span>

            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </div>
        </li>
        <li class="nav__item">
          <div class="nav__link">
            <span>Interest accounts</span>

            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </div>
        </li>
        <li class="nav__item">
          <div class="nav__link">
            <span>Casinos</span>

            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </div>
        </li>
      </ul>

      <div class="header__controls">
        <div class="header__lang lang">
          <div class="lang__header">
            <div class="lang__current">
              <svg width='22' height='16'>
                <use href='img/sprite/sprite.svg#eng'></use>
              </svg>

              <span>English</span>
            </div>

            <svg class="lang__arrow" width='20' height='20'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </div>

          <div class="lang__body">
            <ul class="lang__variants">
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#eng'></use>
                  </svg>

                  <span>English</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#china'></use>
                  </svg>

                  <span>Chinsife(Simplified)</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#czech-republic'></use>
                  </svg>

                  <span>Czech</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#danish'></use>
                  </svg>

                  <span>Danish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#netherlands'></use>
                  </svg>

                  <span>Dutch</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#finland'></use>
                  </svg>

                  <span>Finnish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#france'></use>
                  </svg>

                  <span>French</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#germany'></use>
                  </svg>

                  <span>German</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#greece'></use>
                  </svg>

                  <span>Greek</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#indonesia'></use>
                  </svg>

                  <span>Indonesian</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#italy'></use>
                  </svg>

                  <span>Italian</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#japan'></use>
                  </svg>

                  <span>Japanese</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#south-korea'></use>
                  </svg>

                  <span>Korean</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#norway'></use>
                  </svg>

                  <span>Norwegian Bokmal</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#poland'></use>
                  </svg>

                  <span>Polish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#brazil'></use>
                  </svg>

                  <span>Portuguese (BR)</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#portugal'></use>
                  </svg>

                  <span>Portuguese (PT)</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#spain'></use>
                  </svg>

                  <span>Spanish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#sweden'></use>
                  </svg>

                  <span>Swedish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#turkey'></use>
                  </svg>

                  <span>Turkish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#viet-nam'></use>
                  </svg>

                  <span>Vietnamese</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="header__search">
          <div class="header__search-icon">
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#search'></use>
            </svg>
          </div>

          <form class="search">
            <button class="search__btn">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#search'></use>
              </svg>
            </button>

            <label class="search__label">
              <input class="search__input" type="search" name="search" placeholder="Search something" autocomplete="off">
            </label>
          </form>
        </div>
      </div>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mobile">
        <div class="mobile__menu">
        </div>
      </div>
    </div>
  </div>
</header> -->
