<header>
  <div class="container">
    <div class="header">
      <a class="header__logo logo" href="/">
        <svg width='113' height='24'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <div class="header__nav nav">
        <ul class="nav__menu">
          <li class="nav__menu-item">
            <span class="nav__menu-title">
              Exchanges

              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </span>

            <ul class="nav__menu-second">
              <li class="nav__second-item">
                <span class="nav__second-title">
                  Best Betting Offers

                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#arrow-down'></use>
                  </svg>
                </span>

                <ul class="nav__menu-third">
                  <li>
                    <a href="#">Avellaneda</a>
                  </li>
                  <li>
                    <span>Hagen</span>
                  </li>
                  <li>
                    <a href="#">Greensboro (NC)</a>
                  </li>
                  <li>
                    <a href="#">La Plata</a>
                  </li>
                  <li>
                    <a href="#">Krasnodar</a>
                  </li>
                  <li>
                    <a href="#">Aurora (IL)</a>
                  </li>
                  <li>
                    <a href="#">Morón</a>
                  </li>
                  <li>
                    <a href="#">Kiel</a>
                  </li>
                </ul>
              </li>
              <li class="nav__second-item">
                <a class="nav__second-title" href="#">
                  <span>Nigerian Betting Promo Codes</span>
                </a>
              </li>
              <li class="nav__second-item">
                <span class="nav__second-title">
                  Nigerian Bookmakers Offers

                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#arrow-down'></use>
                  </svg>
                </span>
              </li>
              <li class="nav__second-item">
                <span class="nav__second-title">
                  Betting Promotions

                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#arrow-down'></use>
                  </svg>
                </span>
              </li>
              <li class="nav__second-item">
                <span class="nav__second-title">
                  ZA Bookmakers Offers

                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#arrow-down'></use>
                  </svg>
                </span>
              </li>
              <li class="nav__second-item">
                <span class="nav__second-title">
                  <span>ZA Betting Promo Codes</span>

                  <svg width='20' height='20'>
                    <use href='img/sprite/sprite.svg#arrow-down'></use>
                  </svg>
                </spn>
              </li>
            </ul>
          </li>
          <li class="nav__menu-item">
            <span class="nav__menu-title">
              Stores

              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </span>
          </li>
          <li class="nav__menu-item">
            <span class="nav__menu-title">
              Apps

              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </span>
          </li>
          <li class="nav__menu-item">
            <span class="nav__menu-title">
              Interest accounts

              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </span>
          </li>
          <li class="nav__menu-item">
            <span class="nav__menu-title">
              Casinos

              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </span>
          </li>
        </ul>
      </div>

      <div class="header__controls">
        <div class="header__lang lang">
          <div class="lang__header">
            <div class="lang__current">
              <svg width='22' height='16'>
                <use href='img/sprite/sprite.svg#eng'></use>
              </svg>

              <span>English</span>
            </div>

            <svg class="lang__arrow" width='20' height='20'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </div>

          <div class="lang__body">
            <ul class="lang__variants">
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#eng'></use>
                  </svg>

                  <span>English</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#china'></use>
                  </svg>

                  <span>Chinsife(Simplified)</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#czech-republic'></use>
                  </svg>

                  <span>Czech</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#danish'></use>
                  </svg>

                  <span>Danish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#netherlands'></use>
                  </svg>

                  <span>Dutch</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#finland'></use>
                  </svg>

                  <span>Finnish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#france'></use>
                  </svg>

                  <span>French</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#germany'></use>
                  </svg>

                  <span>German</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#greece'></use>
                  </svg>

                  <span>Greek</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#indonesia'></use>
                  </svg>

                  <span>Indonesian</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#italy'></use>
                  </svg>

                  <span>Italian</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#japan'></use>
                  </svg>

                  <span>Japanese</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#south-korea'></use>
                  </svg>

                  <span>Korean</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#norway'></use>
                  </svg>

                  <span>Norwegian Bokmal</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#poland'></use>
                  </svg>

                  <span>Polish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#brazil'></use>
                  </svg>

                  <span>Portuguese (BR)</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#portugal'></use>
                  </svg>

                  <span>Portuguese (PT)</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#spain'></use>
                  </svg>

                  <span>Spanish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#sweden'></use>
                  </svg>

                  <span>Swedish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#turkey'></use>
                  </svg>

                  <span>Turkish</span>
                </div>
              </li>
              <li class="lang__variants-item" data-choice='choosen'>
                <div class="lang__variant">
                  <svg width='22' height='16'>
                    <use href='img/sprite/sprite.svg#viet-nam'></use>
                  </svg>

                  <span>Vietnamese</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="header__search">
          <div class="header__search-icon">
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#search'></use>
            </svg>
          </div>

          <form class="search">
            <button class="search__btn">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#search'></use>
              </svg>
            </button>

            <label class="search__label">
              <input class="search__input" type="search" name="search" placeholder="Search something" autocomplete="off">
            </label>
          </form>
        </div>
      </div>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mobile">
        <div class="mobile__menu">
          <!-- <div class="mobile__nav">
            <li>
              Exchanges

              <div class="sub-mob">
                <div class="sub-mob__title">Exchanges</div>

                <ul class="sub-mob">
                  <li>Best Betting Offers</li>
                  <li>Nigerian Betting Promo Codes</li>
                  <li>Nigerian Bookmakers Offers</li>
                  <li>Betting Promotions</li>
                  <li>ZA Bookmakers Offers</li>
                  <li>ZA Betting Promo Codes</li>
                </ul>
              </div>
            </li>
            <li>Stores</li>
            <li>Apps</li>
            <li>Interest accounts</li>
            <li>Casinos</li>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</header>
