.sticky {
  position: fixed;
  right: 16px;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background: var(--color-white);
  box-shadow: 0px 8px 16px 0px rgba(65, 62, 74, 0.12);
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  z-index: 20;
  transform: translateY(25px);

  // @media (max-width: 1024px) {
  //   width: 55px;
  //   height: 55px;
  //   bottom: 120px;
  //   right: 30px;
  // }

  // @media (max-width: 767px) {
  //   width: 40px;
  //   height: 40px;
  //   right: 20px;
  //   bottom: 50px;

  //   svg {
  //     width: 14px;
  //     height: 14px;
  //   }
  // }

  svg {
    stroke: var(--color-brown);
    fill: none;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    background-color: var(--color-light-gold);
  }

}
